<div class="container">
  <h3 class="text-center">Usuários</h3>

  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col" class="col-2">#</th>
        <th scope="col">Nome</th>
        <th scope="col" class="text-end">Ação</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-dark btn-sm">
            Ver tarefas
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
